body {
    margin: 60px auto;
    width: 80%;
    font-size:5px;
}
nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
h1 {
    margin-bottom: 10px;
}
p {
    line-height: 1.4em;
    color: #333;
     text-align: justify;
    text-justify: inter-word;
}
footer {
    border-top: 1px solid #d5d5d5;
}

ul.posts { 
    margin: 20px auto 40px;
}

ul.posts li {
    list-style: none;
}


.main-body{
    padding-top: 50px;
    margin: auto;
    line-height: 1.4;
}

.introduction-container {
    margin-top: 30px;
    border-radius: 5px;
    background-color:#F2F1EF;
}
.news-container{
    margin-top: 30px;
}

.research-container{
    margin-top: 30px;
}


.introduction-avata {
    margin: auto;
    text-align: center;
}

.avatar{
    height: 150px;
    align-content: center;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
}
li {
    padding-left: 30px;
}

.align-center{
    text-align: center;
}

.debug-border{
    border: solid 1px red;
}