body {
    margin: 60px auto;
    width: 80%;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2em;
    margin-bottom: 10px;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}


.main-body{
    padding-top: 50px;
    margin: auto;
    font-size: 1.5em;
    line-height: 1.4;
}

.introduction-container {
    margin-top: 30px;
}
.news-container{
    margin-top: 30px;
}

.research-container{
    margin-top: 30px;
}


.introduction-avata {
    margin: auto;
    text-align: center;
}

.avatar{
    height: 200px;
    align-content: center;
    text-align: center;
}
li {
    padding-left: 30px;
}

.align-center{
    text-align: center;
}

.debug-border{
    border: solid 1px red;
}